body {
  font-family: 'Open Sans', sans-serif;
  left: 390px;
  right: 390px;
  background: #001821;
  color: #fff;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
}

.main-page-wrapper {
  width: 100%;
  background: url(/images/bg/hero.jpg) center top no-repeat, url(/images/bg/bottom-pic.jpg) center bottom no-repeat;
}

body,
html {
  height: 10%;
}

p {
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

img {
  display: block;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1200px;
}

.wrapper__service {
  background: url(/images/bg/headline.jpg) center top no-repeat;
}

.container {
  position: relative;
  width: 1141px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  color: inherit;
}
.page-content {
  background: #F2F2F2;
  padding: 94px;
}