.partners__img {
  max-width: 100%;
  filter: grayscale(100%);
  transition: 1200ms;
}

.partners__img:hover {
  filter: grayscale(0%);

}

.partners__link {
  text-decoration: none;
  display: flex;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  margin-left: -50px;
  justify-content: space-between;
}

.partners__item {
  align-items: center;
  display: flex;
  margin-left: 50px;
  margin-bottom: 76px;
}