.review {
  display:inline-flex;
  flex-direction: column;
  padding: 39px 30px;
  background-color: #F4F5F5;
}

.review__item {
  border-radius: 5px;
  width: 557px;
  margin-bottom: 17px;
  margin-right: 27px;
}
.review__item:nth-child(even){
  margin-right: 0;
}

.review__header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.avatar {
  max-width: 142px;
  max-height: 142px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 22px;
}

.reviews {
  column-count: 2;
  column-gap: 30px;
  margin-bottom: 70px;
}

.review__userdata {
  display: flex;
  flex-wrap: wrap;
}

.review__vk-blue {
  width: 30px;
  display: flex;
  align-items: flex-end;
}

.review__content-text {
  line-height: 27px;
  font-size: 16px;
  color: #818181;
}

.review__title {
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 17px;
  font-weight: bold;
  color: #1A1B1E;

}

.review__user {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-right: 7px;
  margin-bottom: 12px;
  color: #1A1B1E;
  font-weight: bold;
  text-decoration: none;
}

.review__user:hover {
  text-decoration: underline;
}

.review__user:after {
  content: url(/images/icons/socials/vk-blue.png);
  margin-left: 5px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  padding-bottom: 7px;
}

.review__user:hover {
  text-decoration: underline;
  color: #2E77A4;
}

.review__date {
  font-size: 14px;
  color: #1A1B1E;
  line-height: 27px;
  font-weight: 700;
}

.top-line {
  height: 412px;
}

.promo-review__img {
  max-width: 487px;
  max-width: 342px;
}

.review__tags {
  display: flex;
  align-items: flex-start;
}

